{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
{% endblock %}

<div class="container-fluid px-0 justify-content-center">
    <div class="row mx-0 justify-content-center">
        <div class="col-12 col-md-auto px-0">
            <ul class="list-unstyled mb-0 d-flex flex-column flex-md-row justify-content-center">
                <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="#">
                        Головна
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="{% url "shop:weading-dresses" %}">
                        Вечірні сукні
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="{% url "shop:eav-dresses" %}">
                        Весільні сукні
                    </a>
                </li>
                
                <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="#">
                        Новинки
                    </a>
                </li>
                
                 <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="#">
                        SALE
                    </a>
                </li>
                
                
                <li class="nav-item text-center">
                    <a class="nav-link text-dark d-block py-3 fs-6 px-md-5 mell_font" href="#">
                        Про нас
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>