{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mell{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra_css %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

    {% include 'header/header.html' %}

    {% block content %}
    <!-- Контент страницы -->
    {% endblock %}
    
    {% block extra_scripts %}{% endblock %}
</body>
</html>